body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body {
  width: 960px;
  margin: auto;
}

.sidebar {
  width: 150px;
  margin-top: 128px;
  margin-right: 10px;
  float: left;
}

.sidebar a {
  display: block;
  margin-bottom: 1em;
}

.content {
  width: 710px;
  float: left;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}

h2 {
  color: #666;
  font-weight: normal;
}

.foot {
  font-weight: 300;
  margin-left: 160px;
  padding-top: 3em;
  width: 800px;
  clear: both;
}

.side {
  float: left;
  width: 110px;
  padding-right: 40px;
  margin-right: 10px;
}

.side ul {
  padding-left: 0;
  list-style-type: none;
}

.center {
  float: left;
  width: 790px;
  margin-right: 0px;
}

button {
  background: #222 url(button-overlay.png) repeat-x;
  font: 12px Helvetica Neue;
  text-rendering: optimizeLegibility;
  color: #fff;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-bottom: 1px solid #222;
  min-width: 80px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px #999;
}

button:hover {
  background-color: #555;
}
