@import url("../../lib/jquery-ui/jquery-ui.css");

body, .ui-widget {
  font: 14px Helvetica Neue;
}

svg {
  width: 960px;
  height: 500px;
  border: solid 1px #ccc;
  background: #eee;
}

line {
  stroke: brown;
  stroke-dasharray: 4,2;
}

path {
  fill: none;
  stroke: #fff;
}

path.grid {
  fill: none;
  stroke: #eee;
  stroke-width: .5;
}

div {
  width: 960px;
}
