.axis text {
  font: 10px sans-serif;
  fill: #777;
}

.axis .line {
  stroke: #fff;
  stroke-width: 1.5px;
}

.axis .tick {
  stroke: #777;
}

.axis g:nth-child(2n) .line {
  stroke-width: .5px;
}

.axis g:nth-child(2n) text,
.axis g:nth-child(2n) .tick {
  display: none;
}
