body {
  font: 13px sans-serif;
}

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  fill: rgba(255,255,255,.2);
  cursor: move;
}

circle.selected {
  fill: rgba(255,239,14,.2);
  stroke: #ff7f0e;
}
