.cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.link {
  stroke: #000;
  stroke-opacity: .5;
  fill: none;
}
