.qq circle, .qq .diagonal, .qq .box { stroke: #000; stroke-width: .5px; fill: none; }
.qq .box { stroke: #666; }
.qq { font: 12px sans-serif; }
.y.tick text { display: none; }
.qq0 .y.tick text { display: block; }
.tick line { stroke: #666; stroke-width: .5px; fill: none; }
