#chart {
  font: 10px sans-serif;
  width: 960px;
  height: 310px;
}

.qq .box, .qq .tick line, .qq .quantile, .qq .diagonal {
  stroke: #aaa;
  fill: none;
}

.qq .quantile {
  stroke: #000;
}

.qq g + g .y.tick {
  display: none;
}
