@import url("../axis/ggplot2.css");

#chart {
  font: 10px sans-serif;
  width: 960px;
  height: 310px;
}

/*
.qq .diagonal, .qq .box {
  stroke: #000;
  fill: none;
}
*/

.qq .diagonal {
  stroke: #fff;
  stroke-width: 1.5px;
}

.qq .box {
  fill: #e9e9e9;
}

.qq .datum {
  stroke: #000;
  fill: none;
}
