<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>d3.js{% if page.title %} - {{ page.title }}{% endif %}</title>
    <script type="text/javascript" src="/d3.js?0.29.1"></script>
    <style type="text/css">

@import url("/style.css?0.29.1");
@import url("/syntax.css?0.29.1");

    </style>
  </head>
  <body>
    <div class="body">
      <div class="sidebar">
        <a href="/">Overview</a>
        <!-- a href="/ex/">Examples</a -->
        <!-- a href="/docs/">Reference</a -->
        <a href="http://github.com/mbostock/d3">Download</a>
      </div>
      <div class="content">

{{ content }}

      </div>
      <div class="foot">Copyright &copy; 2011 <a href="http://bost.ocks.org/mike">Mike Bostock</a></div>
    </div>
  </body>
</html>
