<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>d3 - Documentation{% if page.title %} - {{ page.title }}{% endif %}</title>
    <script type="text/javascript" src="../d3.js?0.0.0"></script>
    <style type="text/css">

@import url("../style.css?0.0.0");
@import url("../syntax.css?0.0.0");

    </style>
  </head>
  <body>
    <div class="body">
      <h1><a href="../">d3.js</a> / Documentation</h1>
      <div class="side">

<h4>Selection</h4>

<ul>
<li>select</li>
<li>selectAll</li>
<li>filter</li>
<li>data</li>
</ul>

<h4>Manipulation</h4>

<ul>
<li>attr</li>
<li>style</li>
<li>add</li>
<li>remove</li>
<li>text</li>
</ul>

<h4>Interaction</h4>

<ul>
<li><a href="on.html">on</a>
</ul>

<h4>Transitions</h4>

<ul>
<li>transition</li>
<li>tween</li>
<li>ease</li>
</ul>

<h4><i>Et cetera</i></h4>

<ul>
<li>interpolate</li>
<li>rgb</li>
<li>dispatch</li>
<li>ns</li>
</ul>

      </div>
      <div class="center">

{{ content }}

      </div>
    </div>
    <br style="clear: both;">
    <div class="foot">Copyright &copy; 2010 <a href="http://bost.ocks.org/mike">Mike Bostock</a></div>
  </body>
</html>
