<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>d3.js{% if page.title %} ~ {{ page.title }}{% endif %}</title>
    <script type="text/javascript" src="../d3.js?0.30.0"></script>
    <style type="text/css">

@import url("../style.css?0.30.0");
@import url("../syntax.css?0.30.0");

    </style>
  </head>
  <body>
    <div class="body">
      <div class="sidebar">
        <a href="../">Overview</a>
        <a href="../ex/">Examples</a>
        <b><a href="../tutorial/">Tutorials</a></b>
        <a href="../api/">Reference</a>
        <a href="http://github.com/mbostock/d3">Download</a>
      </div>
      <div class="content">

<a href="http://github.com/mbostock/d3"><img
    style="position:absolute;top:0;right:0;border:0;"
    width="149" height="149" src="../forkme.png" alt="Fork me on GitHub"
    /></a>

{{ content }}

      </div>
      <div class="foot">Copyright &copy; 2011 <a href="http://bost.ocks.org/mike">Mike Bostock</a></div>
    </div>
  </body>
</html>
