<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>d3.js{% if page.title %} ~ {{ page.title }}{% endif %}</title>
    <script type="text/javascript" src="../d3.js?1.19.1"></script>
    <style type="text/css">

@import url("../style.css?1.10.0");
@import url("../syntax.css?1.6.0");

    </style>
  </head>
  <body>
    <div class="body">
      <div class="content">
        <div class="topbar">
          <a href="../">Overview</a>
          <a href="../ex/">Examples</a>
          <b><a href="../api/">Documentation</a></b>
          <a href="http://github.com/mbostock/d3/archives/master">Download</a>
        </div>
        <div class="sidebar">
          <h1>d3.js</h1>
        </div>

{{ content }}

      </div>
      <div class="foot">Copyright &copy; 2011 <a href="http://bost.ocks.org/mike">Mike Bostock</a></div>
    </div>
  </div>
  <a href="http://github.com/mbostock/d3"><img
      style="position:absolute;top:0;right:0;border:0;"
      width="149" height="149" src="../forkme.png" alt="Fork me on GitHub"
      /></a>
  </body>
</html>
